@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat';
}

.book-component {
    display: flex;
    align-items: center;
    align-items: center;
    height: 100%;
}

.container {
    margin-left: 6em;
    padding: 3em 2em;
    background: #ffffff;
    border-radius: 4px;
    width: 400px;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12);
}
header {
    height: 100%;
    position: relative;
    display: block;
    width: 100%;
}
header::after {
    opacity: 0.9;
    content: "";
    position: absolute;
    z-index: -1;
    background: url('digitalhub.jpg');
    background-position: 0% 20%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.heading {
    margin: 0;
    font-size: 2em;
    color: #002A4E;
}
.subheading {
    color: #002A4E;
    margin-top: .5em;
    font-size: .9em;
    font-weight: bold;
}

.form-fields {
    display: flex;
    flex-direction: column;
}

.field-container {
    margin-top: 16px;
    margin-bottom: 16px;
}

.label-field {
    color: #002A4E;
    font-size: .9em;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
}


.input-field{
    padding-left: 12px;
    padding-right: 12px;
    background-color: #ffffff;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    display: flex;
    height: 48px;
    font-size: 1em;
    width: 100%;
    margin-top: 8px;
    text-overflow: ellipsis;
    font-family: 'Montserrat';
}

.purpose-field{
    height: 144px;
    resize: none;
}

a {
    background: #CCCCCC;
    padding: .8em;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: .8em;
    border-radius: .4em;
    margin-top: 1.5em;
    display: inline-block;
    text-transform: uppercase;
}

/* Overwrites */


a {

  background: #eb0037;
  color: white
}


@media screen and (max-width: 744px){
        .container{

            width: 100%;
            margin: 0;
        }

}